## source: https://www.kaggle.com/iwooloowi/film-awards-imdb

## file: https://www.kaggle.com/iwooloowi/film-awards-imdb/download

In [1]:
# Import our dependencies
import pandas as pd
from sklearn.preprocessing import StandardScaler
import numpy as np
import pandas as pd
import datetime
import re
import csv
import json
import os

In [2]:
# Read in "The IMbd Movies dataset"
# if this is read in as csv, each row is a string and dictionaries are not recognized.
IMDb_movies_df = pd.read_csv("Resources/imdb_main.csv", low_memory=False)
IMDb_movies_df.head()

,imdb_title_id,title,year,genre,duration,country,language,director,writer,production_company,...,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics,release_year,release_year.1,genre.1
0,tt0010680,The Sentimental Bloke,1919.0,"Drama, Romance",106,Australia,English,Raymond Longford,"C.J. Dennis, Raymond Longford",Southern Cross Feature Film Company,...,237,NaN,NaN,NaN,NaN,11.0,10.0,2005.0,2005.0,"['Drama', ' Romance']"
1,tt0013579,Ombre ammonitrici,1923.0,"Drama, Fantasy, Horror",90,Germany,German,Arthur Robison,"Arthur Robison, Rudolf Schneider",Pan-Film,...,842,NaN,NaN,NaN,NaN,15.0,16.0,2016.0,2016.0,"['Drama', ' Fantasy', ' Horror']"
2,tt0017938,La glace à trois faces,1983.0,"Drama, Romance",45,France,"None, French",Jean Epstein,"Jean Epstein, Paul Morand",Films Jean Epstein,...,759,NaN,NaN,NaN,NaN,7.0,4.0,1983.0,1983.0,"['Drama', ' Romance']"
3,tt0018054,Il re dei re,1927.0,"Biography, Drama, History",160,USA,English,Cecil B. DeMille,Jeanie Macpherson,DeMille Pictures Corporation,...,1890,$ 2500000,NaN,NaN,NaN,48.0,24.0,2004.0,2004.0,"['Biography', ' Drama', ' History']"
4,tt0018742,Il cameraman,1928.0,"Comedy, Drama, Family",76,USA,English,"Edward Sedgwick, Buster Keaton","Clyde Bruckman, Lew Lipton",Metro-Goldwyn-Mayer (MGM),...,10101,NaN,NaN,$ 1737460,NaN,61.0,49.0,1970.0,1970.0,"['Comedy', ' Drama', ' Family']"

In [3]:
print(IMDb_movies_df.describe())
print(IMDb_movies_df.columns)

               year      duration      avg_vote         votes     metascore  \
count  70529.000000  70529.000000  70529.000000  7.052900e+04  12858.000000
mean    2002.838223    102.113414      5.790186  1.093330e+04     55.158812
std       13.745638     21.708421      1.275937  5.836995e+04     17.429233
min     1919.000000     41.000000      1.000000  9.900000e+01      1.000000
25%     1994.000000     90.000000      5.000000  2.120000e+02     43.000000
50%     2007.000000     97.000000      6.000000  5.170000e+02     56.000000
75%     2014.000000    110.000000      6.700000  2.071000e+03     68.000000
max     2020.000000    808.000000      9.900000  2.278845e+06    100.000000

       reviews_from_users  reviews_from_critics  release_year  release_year.1
count        63624.000000          60360.000000  70529.000000    70529.000000
mean            50.771376             30.539231   2003.242170     2003.242170
std            195.785529             63.338663     13.620838       13.620838
min              1.000000              1.000000   1970.000000     1970.000000
25%              3.000000              3.000000   1995.000000     1995.000000
50%              9.000000              9.000000   2007.000000     2007.000000
75%             27.000000             26.000000   2014.000000     2014.000000
max          10472.000000            999.000000   2021.000000     2021.000000
Index(['imdb_title_id', 'title', 'year', 'genre', 'duration', 'country',
       'language', 'director', 'writer', 'production_company', 'actors',
       'avg_vote', 'votes', 'budget', 'usa_gross_income',
       'worlwide_gross_income', 'metascore', 'reviews_from_users',
       'reviews_from_critics', 'release_year', 'release_year.1', 'genre.1'],
      dtype='object')

In [4]:
IMDb_movies_df.rename(columns={'imdb_title_id':'imdb_id'}, inplace=True)
IMDb_movies_df.head()

,imdb_id,title,year,genre,duration,country,language,director,writer,production_company,...,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics,release_year,release_year.1,genre.1
0,tt0010680,The Sentimental Bloke,1919.0,"Drama, Romance",106,Australia,English,Raymond Longford,"C.J. Dennis, Raymond Longford",Southern Cross Feature Film Company,...,237,NaN,NaN,NaN,NaN,11.0,10.0,2005.0,2005.0,"['Drama', ' Romance']"
1,tt0013579,Ombre ammonitrici,1923.0,"Drama, Fantasy, Horror",90,Germany,German,Arthur Robison,"Arthur Robison, Rudolf Schneider",Pan-Film,...,842,NaN,NaN,NaN,NaN,15.0,16.0,2016.0,2016.0,"['Drama', ' Fantasy', ' Horror']"
2,tt0017938,La glace à trois faces,1983.0,"Drama, Romance",45,France,"None, French",Jean Epstein,"Jean Epstein, Paul Morand",Films Jean Epstein,...,759,NaN,NaN,NaN,NaN,7.0,4.0,1983.0,1983.0,"['Drama', ' Romance']"
3,tt0018054,Il re dei re,1927.0,"Biography, Drama, History",160,USA,English,Cecil B. DeMille,Jeanie Macpherson,DeMille Pictures Corporation,...,1890,$ 2500000,NaN,NaN,NaN,48.0,24.0,2004.0,2004.0,"['Biography', ' Drama', ' History']"
4,tt0018742,Il cameraman,1928.0,"Comedy, Drama, Family",76,USA,English,"Edward Sedgwick, Buster Keaton","Clyde Bruckman, Lew Lipton",Metro-Goldwyn-Mayer (MGM),...,10101,NaN,NaN,$ 1737460,NaN,61.0,49.0,1970.0,1970.0,"['Comedy', ' Drama', ' Family']"

In [5]:
awards_df = pd.read_csv("Resources/awards.csv", low_memory=False)
awards_df.rename(columns={'const':'imdb_id'}, inplace=True)
awards_df.head()

,eventId,eventName,awardName,year,occurrence,winAnnouncementTime,categoryName,nomeneeNote,name,originalName,...,episodeNames,characterNames,isWinner,isPrimary,isSecondary,isPerson,isTitle,isCompany,imdb_id,notes
0,ev0000263,French Syndicate of Cinema Critics,Critics Award,1992,1,NaN,Best Film,NaN,La belle noiseuse,NaN,...,NaN,NaN,True,True,False,False,True,False,tt0101428,NaN
1,ev0000263,French Syndicate of Cinema Critics,Critics Award,1992,1,NaN,Best Film,NaN,Jacques Rivette,NaN,...,NaN,NaN,True,False,True,True,False,False,nm0729626,NaN
2,ev0000263,French Syndicate of Cinema Critics,Critics Award,1992,1,NaN,Best Foreign Film,NaN,The Double Life of Véronique,La double vie de Véronique,...,NaN,NaN,True,True,False,False,True,False,tt0101765,Poland.
3,ev0000263,French Syndicate of Cinema Critics,Critics Award,1992,1,NaN,Best Foreign Film,NaN,Krzysztof Kieslowski,NaN,...,NaN,NaN,True,False,True,True,False,False,nm0001425,Poland.
4,ev0000263,French Syndicate of Cinema Critics,Critics Award,1992,1,NaN,Best Short,NaN,Le petit chat est mort,NaN,...,NaN,NaN,True,True,False,False,True,False,tt0195135,NaN

In [7]:
len(awards_df)

2158525

In [8]:
awards_df=awards_df[awards_df["year"] > 1969]

In [9]:
len(awards_df)

2104294

In [10]:
awards_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2104294 entries, 0 to 2158524
Data columns (total 21 columns):
 #   Column               Dtype
---  ------               -----
 0   eventId              object
 1   eventName            object
 2   awardName            object
 3   year                 int64
 4   occurrence           int64
 5   winAnnouncementTime  float64
 6   categoryName         object
 7   nomeneeNote          object
 8   name                 object
 9   originalName         object
 10  songNames            object
 11  episodeNames         object
 12  characterNames       object
 13  isWinner             object
 14  isPrimary            object
 15  isSecondary          object
 16  isPerson             bool
 17  isTitle              bool
 18  isCompany            bool
 19  imdb_id              object
 20  notes                object
dtypes: bool(3), float64(1), int64(2), object(15)
memory usage: 311.1+ MB

In [11]:
cols=awards_df.columns

In [12]:
for col in cols:
    print(f'\n datatypes in {col} column: {awards_df[col].apply(type).value_counts()}')

 datatypes in eventId column: <class 'str'>    2104294
Name: eventId, dtype: int64

 datatypes in eventName column: <class 'str'>    2104294
Name: eventName, dtype: int64

 datatypes in awardName column: <class 'str'>      2103551
<class 'float'>        743
Name: awardName, dtype: int64

 datatypes in year column: <class 'int'>    2104294
Name: year, dtype: int64

 datatypes in occurrence column: <class 'int'>    2104294
Name: occurrence, dtype: int64

 datatypes in winAnnouncementTime column: <class 'float'>    2104294
Name: winAnnouncementTime, dtype: int64

 datatypes in categoryName column: <class 'str'>      1865098
<class 'float'>     239196
Name: categoryName, dtype: int64

 datatypes in nomeneeNote column: <class 'float'>    1747661
<class 'str'>       356633
Name: nomeneeNote, dtype: int64

 datatypes in name column: <class 'str'>      2099853
<class 'float'>       4441
Name: name, dtype: int64

 datatypes in originalName column: <class 'float'>    1922468
<class 'str'>       181826
Name: originalName, dtype: int64

 datatypes in songNames column: <class 'float'>    2088020
<class 'str'>        16274
Name: songNames, dtype: int64

 datatypes in episodeNames column: <class 'float'>    2049813
<class 'str'>        54481
Name: episodeNames, dtype: int64

 datatypes in characterNames column: <class 'float'>    2094515
<class 'str'>         9779
Name: characterNames, dtype: int64

 datatypes in isWinner column: <class 'bool'>     2103554
<class 'float'>        740
Name: isWinner, dtype: int64

 datatypes in isPrimary column: <class 'bool'>     2099853
<class 'float'>       4441
Name: isPrimary, dtype: int64

 datatypes in isSecondary column: <class 'bool'>     2099853
<class 'float'>       4441
Name: isSecondary, dtype: int64

 datatypes in isPerson column: <class 'bool'>    2104294
Name: isPerson, dtype: int64

 datatypes in isTitle column: <class 'bool'>    2104294
Name: isTitle, dtype: int64

 datatypes in isCompany column: <class 'bool'>    2104294
Name: isCompany, dtype: int64

 datatypes in imdb_id column: <class 'str'>      2099853
<class 'float'>       4441
Name: imdb_id, dtype: int64

 datatypes in notes column: <class 'float'>    1847904
<class 'str'>       256390
Name: notes, dtype: int64

In [13]:
for col in cols:
    print(f'\n value_counts in {col} column: {awards_df[col].value_counts(dropna=False)}')

 value_counts in eventId column: ev0000223    79023
ev0000206    49369
ev0000123    27538
ev0000493    26331
ev0002704    25255
             ...
ev0004121        1
ev0005188        1
ev0005543        1
ev0015612        1
ev0004605        1
Name: eventId, Length: 6640, dtype: int64

 value_counts in eventName column: Primetime Emmy Awards                       79023
Daytime Emmy Awards                         49369
BAFTA Awards                                27538
News & Documentary Emmy Awards              26331
Online Film & Television Association        25255
                                            ...
Japanese Cultural Ministery Movie Awards        1
DY Patil Annual Achiever's Awards               1
Lavazza Italian Film Festival                   1
FDF - Festival dokumentarnega filma             1
Screen Student Film Festival, US                1
Name: eventName, Length: 6640, dtype: int64

 value_counts in awardName column: Primetime Emmy                       78915
Daytime Emmy                         49229
Audience Award                       38540
Festival Award                       38189
Jury Award                           38142
                                     ...
Footage Library of the Year Award        1
Career in the Industry Award             1
The Ruma                                 1
Boobs & Blood Humanitarian               1
Excellence of Achievement                1
Name: awardName, Length: 16815, dtype: int64

 value_counts in year column: 2018    182743
2019    178891
2017    158914
2016    138415
2015    125861
2014    115945
2013    100381
2012     89145
2011     77455
2010     68754
2009     66342
2008     62706
2007     57830
2006     54171
2005     52139
2004     48541
2003     45801
2002     41476
2001     38970
2000     35539
1999     32477
2020     30961
1998     27620
1997     24409
1996     20397
1995     19992
1994     17806
1993     16936
1992     14205
1991     13073
1989     13000
1990     12562
1988     12046
1987     11638
1986     10552
1985      9823
1984      8607
1983      7968
1982      7014
1981      6901
1980      6495
1978      5584
1979      5182
1977      4570
1976      4265
1975      3782
1974      3689
1973      3277
1971      3221
1972      3119
1970      3104
Name: year, dtype: int64

 value_counts in occurrence column: 1     2094266
2        9186
3         373
4         217
5         145
6          72
9          22
8           9
7           1
10          1
11          1
12          1
Name: occurrence, dtype: int64

 value_counts in winAnnouncementTime column: NaN             1813233
1.525755e+09        421
1.580761e+09        220
1.548821e+09        202
1.516809e+09        154
                 ...
1.548752e+09          1
1.581988e+09          1
1.512502e+09          1
1.515365e+09          1
1.568114e+09          1
Name: winAnnouncementTime, Length: 72597, dtype: int64

 value_counts in categoryName column: NaN                                       239196
Best Film                                  48628
Best Short Film                            44121
Best Director                              37307
Best Actor                                 36748
                                           ...
Best User Interface                            1
Best Director - Hungary                        1
Internal/Employee Communications Video         1
Kid's Icon Of The Year                         1
Lifetime Achievement in Music                  1
Name: categoryName, Length: 51020, dtype: int64

 value_counts in nomeneeNote column: NaN                                                  1747661
(director)                                             61470
(producer)                                             43299
(executive producer)                                   21161
(writer)                                               13380
                                                      ...
(as Richard Guimond)                                       1
(compositing animator)                                     1
(Veronica Baker)                                           1
(executive producer/director/editor/videographer)          1
(assistant location manager: 2nd unit)                     1
Name: nomeneeNote, Length: 11237, dtype: int64

 value_counts in name column: NaN                           4441
Game of Thrones                960
The Young and the Restless     954
Shihyun Wang                   952
General Hospital               865
                              ...
Jerry Biederman                  1
Conor Dennison                   1
Hold To Your Best Self           1
Richard Lico                     1
Max Martinez                     1
Name: name, Length: 453941, dtype: int64

 value_counts in originalName column: NaN                                 1922468
The Guiding Light                       555
The Bold and the Beautiful              457
Once Upon a Time ...in Hollywood        418
Gisaengchung                            386
                                     ...
Bear's Kiss                               1
Bari hetq                                 1
Le pélican                                1
Kinabukasan                               1
Venner for altid                          1
Name: originalName, Length: 30273, dtype: int64

 value_counts in songNames column: NaN                               2088020
['Believe']                            36
['My Heart Will Go On']                35
['Lose Yourself']                      34
['Shallow']                            32
                                   ...
['Reptile']                             1
['Golubi']                              1
['My Immortal']                         1
['Ya vspominayu']                       1
['Feng zhong de xiao mi tian']          1
Name: songNames, Length: 5765, dtype: int64

 value_counts in episodeNames column: NaN                                    2049813
['Pilot']                                  246
['Finale']                                 178
['Paris Under Attack']                     100
['Pilot (#1.0)']                            91
                                        ...
['Spies in the Sky']                         1
['Sculptor Manny/Manny Goes Solar']          1
['Theme of Life']                            1
["Cain and Sadie's exit"]                    1
['Hunting by Numbers']                       1
Name: episodeNames, Length: 11393, dtype: int64

 value_counts in characterNames column: NaN                       2094515
['Himself']                    76
['Host']                       54
['Various Characters']         40
['Elmo']                       30
                           ...
['Meredith Grey.']              1
['James Wilson.']               1
['Hacker T Dog']                1
['Gregory House.']              1
['Mystique']                    1
Name: characterNames, Length: 3144, dtype: int64

 value_counts in isWinner column: False    1186533
True      917021
NaN          740
Name: isWinner, dtype: int64

 value_counts in isPrimary column: False    1140167
True      959686
NaN         4441
Name: isPrimary, dtype: int64

 value_counts in isSecondary column: True     1140167
False     959686
NaN         4441
Name: isSecondary, dtype: int64

 value_counts in isPerson column: True     1217944
False     886350
Name: isPerson, dtype: int64

 value_counts in isTitle column: False    1223139
True      881155
Name: isTitle, dtype: int64

 value_counts in isCompany column: False    2103540
True         754
Name: isCompany, dtype: int64

 value_counts in imdb_id column: NaN          4441
tt0944947     960
tt0069658     954
nm6235717     952
tt0056758     864
             ...
nm6615846       1
nm1957612       1
tt4569800       1
tt0071842       1
nm1459514       1
Name: imdb_id, Length: 486711, dtype: int64

 value_counts in notes column: NaN                                                            1847904
2nd place                                                          883
For part I.                                                        832
3rd place                                                          767
For the pilot episode.                                             679
                                                                ...
For the Diamond Edition on Blu-Ray and DVD.                          1
for "Tribute - The Songs Of Andrae Crouch"(Various Artists)          1
For the episode "Take It".                                           1
For episode "Fearful Symmetry".                                      1
For "Aldra o el último guardián del tiempo".                         1
Name: notes, Length: 76030, dtype: int64